@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto', sans-serif;
}

@layer components {
    h1 {
        @apply text-red-600 text-2xl uppercase;
    }
    h2 {
        @apply text-gray-900 text-xl;
    }
}

input:read-only, textarea:read-only, select:read-only {
    border:none;
    background-color: white;
}
